<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="sidemenuFragment">


  <div class="main-sidebar control-sidebar-dark">
    <!-- sidebar: style can be found in sidebar.less -->
    <div class="sidebar control-sidebar-dark">

      <!-- Sidebar user panel -->
      <div class="user-panel no-padding">

        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
          <!--<li class="header">MAIN NAVIGATION</li>-->

          <li><a href="/"><i class="fa fa-dashboard"></i> <span>Main 대시보드</span></a></li>
          <li><a href="/"><i class="fa fa-bar-chart"></i> <span>실시간 모니터링</span></a></li>
          <li><a href="/"><i class="fa fa-calendar"></i> <span>이력 조회</span></a></li>
          <li><a href="/"><i class="fa fa-th"></i> <span>장치 관리</span></a></li>
          <li><a href="/"><i class="fa fa-user"></i> <span>사용자 관리</span></a></li>
          <li><a href="/"><i class="fa fa-gears"></i> <span>환경 설정</span></a></li>

          <li class="treeview">
            <a href="#">
              <i class="fa fa-files-o"></i>
              <span>Layout Options</span>
              <span class="pull-right-container"><span class="label label-primary pull-right">4</span></span>
            </a>

            <ul class="treeview-menu">
              <li><a href="pages/layout/top-nav.html"><i class="fa fa-circle-o"></i> Top Navigation</a></li>
              <li><a href="pages/layout/boxed.html"><i class="fa fa-circle-o"></i> Boxed</a></li>
              <li><a href="pages/layout/fixed.html"><i class="fa fa-circle-o"></i> Fixed</a></li>
              <li><a href="pages/layout/collapsed-sidebar.html"><i class="fa fa-circle-o"></i> Collapsed Sidebar</a></li>
            </ul>
          </li>

          <!--<li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>-->

        </ul>
      </div>

    </div>
  </div>

</div>


</html>